@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    background-color: rgba(0, 0, 0, 0.747);
}

h1 {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 60px;
    color: white;
}

h2 {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    color: white;
}

#container {
    margin: auto;
    display: flex;
    width: 336px;
    height: 336px;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    flex-wrap: wrap;
    
}

.slot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin: 4px;
    background-color: rgb(202, 202, 202);
    border: 1px solid black;
    box-shadow: -1px -1px 10px black;
}

.O {

}

.O::after {
    content: "O";
    font-family: 'Indie Flower', cursive;
    font-size: 120px;
}

.X {

}

.X::after {
    content: "X";
    font-family: 'Indie Flower', cursive;
    font-size: 120px;
}

button {
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    font-family: 'Indie Flower', cursive;
    font-size: 22px;
}

